@page "/TodoList"
@using BlazorServerDemo.Models
@using System.Collections
@using BlazorServerDemo.Services
<h3>TodoList</h3>

@code {

    [Inject]
    private ITodoService TodoService { get; set; } = null!;
    
    public IEnumerable<Todo> Todos { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        Todos = await TodoService.GetIncompleteTodosAsync();
    }

    public async Task ShowAllTodos()
    {
        Todos = await TodoService.GetTodosAsync();
    }
}